---
import { ClientRouter } from "astro:transitions";
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<!-- TODO -->
<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
<title>Spotify Clone</title>
<ClientRouter />
