---
import BigCard from "@/components/BigCard.astro";
import Layout from "@/layouts/Layout.astro";

import { songs } from "@/lib/data";
---

<Layout>
  <h3 class="text-3xl my-4 text-white">Cançons</h3>
  <ul class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-2">
    {songs.map((song) => <BigCard media={song} />)}
  </ul>
</Layout>
